<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Remote" connectionString="server=infected.biz;user id=infected_admin;password=jmk133785JMK$;persistsecurityinfo=True;database=infected_rms_sf;"/>
    <add name="Local" connectionString="server=127.0.0.1;user id=admin;password=admin1234;persistsecurityinfo=True;database=rms;"/>
  </connectionStrings>
  <appSettings>
    <add key="ConnectionToUse" value="Remote"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
