<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultConnection" value="MsSQL" />
    <!--Las opciones son: MSSQL y MySQL-->
    <add key="ConnectionType" value="MSSQL" />
    <add key="SelectSuffix" value="_Select" />
    <add key="InsertSuffix" value="_Insert" />
    <add key="InsertListSuffix" value="_InsertList" />
    <add key="UpdateSuffix" value="_Update" />
    <add key="DeleteSuffix" value="_Delete" />
    <add key="SelectAllSuffix" value="_SelectAll" />
    <add key="StoredProcedurePrefix" value="SP_" />
    <add key="TablePrefix" value="TB_" />
    <add key="AutoCreateTables" value="true" />
    <add key="AutoCreateStoredProcedures" value="true" />
    <add key="AutoAlterStoredProcedures" value="true" />
    <add key="AutoAlterTables" value="true" />
    <add key="EnableLogInDatabase" value="true" />
    <add key="EnableLogInFile" value="true" />
    <add key="DefaultSchema" value="mancachan" />
    <add key="ConstantTableConsolidation" value="true" />
    <add key="OverrideOnlyInDebug" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
