<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test" connectionString="server=172.17.82.200;user id=JorgeMarcos;password=$marcos*;persistsecurityinfo=True;database=MidePF;" />
  </connectionStrings>
  <appSettings>
    <add key="ConnectionToUse" value="Test" />
    <!--Las opciones son: MSSQL y MySQL-->
    <add key="ConnectionType" value="MSSQL" />
    <add key="SelectSuffix" value="_Select" />
    <add key="InsertSuffix" value="_Insert" />
    <add key="UpdateSuffix" value="_Update" />
    <add key="DeleteSuffix" value="_Delete" />
    <add key="SelectAllSuffix" value="_SelectAll" />
    <add key="StoredProcedurePrefix" value="sp_" />
  </appSettings>
</configuration>