<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MsSQL" connectionString="server=172.17.82.200;user id=JorgeMarcos;password=$marcos*;persistsecurityinfo=True;database=MidePF;" />
    <add name="MySQL" connectionString="server=infected.biz;user id=infected_admin;password=jmk133785JMK$;persistsecurityinfo=True;database=infected_mancachan;SslMode=none;AllowUserVariables=True;CheckParameters=False" />
  </connectionStrings>
  <appSettings>
    <add key="DefaultConnection" value="MsSQL" />
    <!--Las opciones son: MSSQL y MySQL-->
    <add key="ConnectionType" value="MSSQL" />
    <add key="SelectSuffix" value="_Select" />
    <add key="InsertSuffix" value="_Insert" />
    <add key="InsertListSuffix" value="_InsertList" />
    <add key="UpdateSuffix" value="_Update" />
    <add key="DeleteSuffix" value="_Delete" />
    <add key="SelectAllSuffix" value="_SelectAll" />
    <add key="StoredProcedurePrefix" value="SP_" />
    <add key="TablePrefix" value="TB_" />
    <add key="AutoCreateTables" value="true" />
    <add key="AutoCreateStoredProcedures" value="true" />
    <add key="AutoAlterStoredProcedures" value="true" />
    <add key="AutoAlterTables" value="true" />
    <add key="EnableLogInDatabase" value="true" />
    <add key="EnableLogInFile" value="true" />
    <add key="DefaultSchema" value="mancachan" />
    <add key="ConstantTableConsolidation" value="true" />
    <add key="OverrideOnlyInDebug" value="false" />
  </appSettings>
</configuration>